<!DOCTYPE html>
<html lang="en">
<head><title>My Blog</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>

<style>
 .menu{
  background-color: blueviolet;
  color: white;
  border: 2px solid red;
 }
 .tab{
  color: white;
 }
 .tab:hover{
  border: 2px solid white;
  color: rgb(232, 240, 3);
 }
</style>
</head>
<body>
 <div class="menu">
 {% if user.is_authenticated %}
    Welcome, {{ user.username }} |
    <a class="tab" href="{% url 'logout' %}">Logout</a> |
    <a class="tab" href="{% url 'post_create' %}">New Post</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  </div>
  <hr>

  {% block content %}{% endblock %}
  
</body>
</html>